/* CSS Document */

	body{background-color:#FFC1CC; }
    
	p{color:#FC6C85; }
    
	h1{color:white; }
    
	h2{color:white; }
	
	h3{color:white; }
	
	li{color:#FC6C85; }


.container{
	width:80%;
	max-width:900px;
	min-width:300px; 
	background:#FFC1CC; 
	margin: 0 auto; 
	padding: 5px; 
	border: 0; 
}

header{
	top: 0; 
	background-color: #FC6C85; 
}

footer{
	clear:both; 
	position:relative; 
	bottom: 0;
	background-color: #FC6C85; 
}

nav ul{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	background-color: #E75480; 
} 

nav li{
	float: left; 
}

nav li a{
	display: block; 
	color: white; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none; 
} 

/*Change the link colour to  when hovered over*/ 
nav li a:hover{
	background-color: #FC6C85; 
}