/* CSS Document */

	body{background-image: url("images/background.jpg"); }
    
	p{color:#FC6C85; }
    
	h1{color:white; }
    
	h2{color:white; }
	
	h3{color:white; }
	
	li{color:#FC6C85; } 

    figcaption{color:#FFF; }


.container{
	width:80%;
	max-width:900px;
	min-width:300px; 
	background:#FFC1CC; 
	margin: 0 auto; 
	padding: 5px; 
	border: 0; 
}

header{
	top: 0; 
	background-color: #000; 
}

footer{
	clear:both; 
	position:relative; 
	bottom: 0;
	background-color: #000; 
}

nav{
	position: sticky; 
}

nav ul{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	background-color: #E75480; 
} 

nav li{
	float: left; 
}

nav li a{
	display: block; 
	color: white; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none; 
} 

/*Change the link colour to  when hovered over*/ 
nav li a:hover{
	background-color: #FC8EAC; 
}

figure{
	border: 1px #FC6C85 solid; 
	width: 250px; 
	padding: 2px; 
	float: right; 
} 
/*caption for the image*/
figcaption{ 
	background-color: #FC6C85; 
	padding: 0; 
	font-style: normal; 
	text-align: center; 
	line-height: 19px; 
}