@charset "utf-8";
/* CSS Document */

body{background-image: url("* insert image *"); }
    
	p{color:#78866b; }
    
	h1{color#78866b; }
    
	h2{color:#78866b; }
	
	h3{color:#78866b; }
	
	li{color:#78866b; } 

    figcaption{color:#FFF; } 

.container{
	width:80%;
	max-width:900px;
	min-width:300px; 
	background:#E1F8DC; 
	margin: 0 auto; 
	padding: 5px; 
	border: 0;
}
	

	
	
header{
	top: 0; 
	background-color: #D1CFC0 ; 
}

footer{
	clear:both; 
	position:relative; 
	bottom: 0;
	background-color: #D1CFC0 ; 
}

nav{
	position: sticky; 
}

nav ul{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	background-color: #ECC9C7; 
} 

nav li{
	float: left; 
}

nav li a{
	display: block; 
	color: #F3DCD4; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none; 
} 

/*Change the link colour to  when hovered over*/ 
nav li a:hover{
	background-color: #ECC9C7; 